config node '{{ID}}'
	option label '{{LABEL}}'
	option type 'hysteria2'
	option address '{{SERVER}}'
	option port '{{PORT}}'
	option password '{{PASSWORD}}'
	option tls '1'
	option tls_sni '{{SNI}}'
	option tls_insecure '1'
	option tls_utls 'chrome'
	option enabled '1'
